# DataScienceEcosystem.ipynb

# DataScienceEcosystem.ipynb

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**
- Some popular data science languages.
- Some commonly used libraries.
- Some data science tools.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. NumPy
3. Pandas

|Data Science Tools|
|------------------|
|Python|
|R|
|MySQL|
|JupyterLite|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Daniel